<% if params[:answer] == "A" %>
    <h1>Aを選んだあなた</h1>
    <h2>質問その2</h2>
    <a href="/diagnoses/question3?answer=C&prev_answer=<%= params[:answer] %>">Cを選ぶ</a>
    <a href="/diagnoses/question3?answer=D&prev_answer=<%= params[:answer] %>">Dを選ぶ</a>    
<% elsif params[:answer] == "B" %>
    <h1>Bを選んだあなた</h1>
    <h2>質問その2</h2>
    <a href="/diagnoses/question3?answer=E&prev_answer=<%= params[:answer] %>">Eを選ぶ</a>
    <a href="/diagnoses/question3?answer=F&prev_answer=<%= params[:answer] %>">Fを選ぶ</a>

<% end %>
