<div class="questionback">
        <div class="overlay-content">
        <h1>診断スタート</h1>
        <h2>あなたの思考タイプは？</h2>
        <div class="question">
            <a href="/diagnoses/question2?answer=A">冒険的思考</a>
        </div>
        <div class="question">
            <a href="/diagnoses/question2?answer=B">堅実的思考</a>
        </div>
        </div>
</div>

    